<nav class="header-nav navbar-mini navbar-static-top header" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.teachery.co"><img alt="Logo" src="https://www.teachery.co/assets/logo-170a3064528b9af2e885c91bbd23ef8e.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="header-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.teachery.co/start_outline">Get Started</a></li>
        <li><a href="https://www.teachery.co/features">Features</a></li>
        <li><a href="https://www.teachery.co/pricing">Pricing</a></li>
        <li><a href="http://blog.teachery.co">Blog</a></li>
        <li><a href="https://www.teachery.co/login"><span class="fa fa-sign-in"></span> Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
