$default-margin: 40px;
$white: #ffffff;
$red: #cc3e37;
$orange: #f95043;
$mint: #00b597;
$green: #038e73;
$green-lt: #00b597;
$blue: #288ca3;
$slate: #373a46;
$black: #292c35;
$beige: #fffdef;

$htgs-dark:       #384253;
$htgs-medium:     #4B576A;
$htgs-light:     #bfbfbf;
$htgs-light_grey: #e7e8e9;
$htgs-green:      #5DC55F;

@mixin transition {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
}

@mixin border-radius {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

@mixin h1-header {
  display: block;
  font-family: "Intro";
  color: $orange;
  margin-bottom:0;
  font-size: 2em;
}

@mixin h2-header {
  display: block;
  color: $red;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-size: 20px;
  margin-top: 10px;
}
